.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    padding-bottom: 0;
    padding-left: 70px;
    background-color: var(--secondary);
    border-radius: 15px;
  }
  
  .titre-destinataires {
    font-size: 36px;
    color: var(--text-sur-bg);
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 60px;
  }
 
  .sous-titre {
    font-size: 20px;
    color: var(--text-sur-bg);
    margin-bottom: 30px;
  }
  
 
  .checkbox-vertical {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .checkbox-vertical label {
    font-size: 20px;
    color: var(--text-vignette);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .checkbox-vertical input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--accent1); 
  }
  
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 80px;

  }

  .btn-jaune, .btn-rose{
    min-width: 200px !important;
    font-size: large!important;
  }
  

  @media (max-width: 600px) {
    .btn-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .btn-jaune,
    .btn-rose {
      width: 100%;
    }
  }