.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    div a:not(.btn-jaune) {
        text-decoration: none;
        color:var(--text-sur-bg);
    }
    
}

form{
        background-color: var(--widgets);
        width: 35rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        
             input{
                background-color: var(--secondary);
                border-radius: 5px;
                height: 2.5rem;
                border: none;
                width: 100%; 
                max-width: 16rem; 
                text-align: center; 
                display: block; 
                margin: 0 auto; 
             }

}
   
   
    
