


#connexion {
  
   

    h2 {
        text-align:center;
        color:var(--text-sur-bg);
    }

    form {
        background-color:var(--secondary);
        width:15rem;
        padding:2rem;
        color:var(--text-sur-bg);

             .login-edt{
                background-color:var(--secondary);
                border-radius:5px;
                height:2rem;
             }

             a:not(.btn-jaune){
                color:var(--text-sur-bg);
                text-decoration: none;
             }

    }
   
   
    
}