

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form{
        background-color: var(--bg-form);
        width: 15rem;
        padding: 3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        
        
             input{
                background-color: var(--secondary);
                border-radius: 5px;
                height: 2.5rem;
                border: none;
                min-width: 14rem;
             }

             
              label {
                  align-self: flex-start;
                  color: var(--text-sur-bg);
                  padding-left: 0.3rem;   
              }  
             

             a:not(.btn-jaune){
                color: var(--text-sur-bg);
                text-decoration: none;
             }

}
   
   
    
