

.container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

form {
        background-color:var(--bg-form);
        width:15rem;
        padding:2rem;
        color:var(--text-sur-bg);

      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
        
        
             .login-edt{
                background-color:var(--secondary);
                border-radius:5px;
                height:2rem;
                border: none;
             }

             a:not(.btn-jaune){
                color:var(--text-sur-bg);
                text-decoration: none;
             }

}
   
   
    
