
.container {

    padding-top: 3rem;

    h3,h2 {
        text-align: center;
        color: var(--text-sur-bg);
    }
}

.txt-politique {
    background-color: var(--secondary);
    border-radius: 15px;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}