#entete-profil{
    display: flex;
    flex-direction: row;
    justify-content: space-between
    
}

body{
    background-color: red;
}
#profil-content{
    img{
        width: 100px;
    }
    display: flex;
    flex-direction: row;
}