#section-profil {
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
}

#profil-appliquant {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5rem;

    .btn-jaune {
        margin-top: 1rem;
        width: 90%;
    }
}

#profil-appliquant a:not(.btn-jaune) {
    display: flex; 
    justify-content: flex-start;  
    width: 100%; 
    text-decoration: none;
}

#profil-appliquant i {
    font-size: 2rem;  
    color: var(--text-sur-bg);
    padding-left: 1rem;
 
}

#experience-appliquant {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem; /* Ajoute un espace vertical entre chaque expérience */

    img {
        width: 10rem;
    }

}

#experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    
}

#date {
    text-align: center;
    background-color: var(--text-sur-bg);
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
    padding: 2rem 1rem 0rem 1rem;
    height:6.5rem;

    h3 {
        color: var(--text-btn);
    }
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 8.5rem;
}

#image-profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid var(--secondary);
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.img-event-size{
    width: auto;
    height: 115px;
    overflow: hidden;
    margin-left: 10px;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    } 
}

