#section-profil {
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
}

#profil-appliquant {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5rem;

    img {
        width: 10rem;
        border-radius: 100%;
        border: 4px solid var(--secondary);
    }

    .btn-jaune {
        margin-top: 1rem;
        width: 90%;
    }

    i {
        width: 2rem;
        color: var(--text-sur-bg);
        align-self: flex-start;
    }
}


#experience-appliquant {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
        width: 10rem;
    }

}

#experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    
}

#date {
    text-align: center;
    background-color: var(--text-sur-bg);
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
    padding: 1rem;

    h3 {
        color: var(--text-btn);
    }
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 8.5rem;
}