:root {
    --primary: #FCFFF5;
    --secondary: #DBECC5;
    --accent1: #7CC69C;
    --accent2: #FF9CCE;
    --accent2-active: #E54F9B;
    --accent3: #FFDF75;
    --text-sur-bg: #599159;
    --text-btn: #FFFFFF;
    --nav-bar: #CDE8A9;
    --text-vignette: #234D23;
    --btn-filtre: #A7C77C;
    --vert-fonce-logo: #3CAB6B;
    --vert-pale-logo: #B0D957;
    --barre-recherche: #C2DE9C;
    --btn-desactive: #7F7C7C;
    --txt-couleur-fonce: #525050;
    --widgets: #F0F9E2;
    --secondary-hover: #c5dba8;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9rem;
    background-color: var(--nav-bar);

    img {
        width: 225px;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;

        li {
            margin: 30px;
            font-weight: bold;
            font-size: 25px;

            a {
                text-decoration: none;
                color: var(--text-btn);
            }
        }

    }
}


body {
    background-color: var(--primary);
    font-family: 'Inter';
    margin: 0;

    .content {
        background-color: var(--secondary);
        border-radius: 15px;
        padding: 1rem 3rem;
        margin-bottom: 2rem;
    }

    p {
        line-height: 1.5rem;
        color: var(--text-vignette)
    }

}

.container {
    padding-top: 3rem;
    margin: 0rem 4rem;
    padding-bottom: 4rem;
}

h1 {
    color: var(--text-sur-bg);
    font-size: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: var(--text-sur-bg);

}

h3 {
    color: var(--text-sur-bg);

}

.btn-jaune {
    background-color: var(--accent3);
    border-radius: 5px;
    height: 2rem;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    min-width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-rose {
    background-color: var(--accent2);
    border-radius: 5px;
    height: 2rem;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    min-width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2.5rem;
    align-items: center;
    vertical-align: middle;
    height: 145px;

    background-color: var(--nav-bar);
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;

    h3 {
        font-size: 16px;
    }

    i {
        width: 2rem;
        color: var(--text-vignette);
        font-size: 24px;
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        a {
            color: var(--text-sur-bg)
        }
    }

    #copyright {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h3 {
            margin-bottom: 0;
        }

        img {
            object-fit: cover;
            width: 140px;
            height: 40px;
        }
    }
}